<!DOCTYPE html>
<html>
@using (Html.BeginHead())
{
    Html.IncludeCombresScript(PageResourceType.CSS, "siteCss");
    Html.IncludeCombresScript(PageResourceType.JS, "siteJs", ResourceRenderPriority.First);
    Html.IncludeCombresScript(PageResourceType.JS, "FormJs");
    Html.IncludeCombresScript(PageResourceType.JS, "ImageJs");
    Html.IncludeCombresScript(PageResourceType.JS, "CodeHighlighterJs");
    Html.IncludeCombresScript(PageResourceType.JS, "UnobtrusiveJs", ResourceRenderPriority.Last);
}
<body id="@Html.GenerateBodyId()" class="tn-page-bg spb-layout-5-19 spb-app-page">
    <div id="tn-doc" class="tn-doc-bg">
        <div id="tn-header" class="tn-header-bg">
            <div class="tn-wrapper">
                @Html.Action("_Header", "UserSpace", new { spaceKey = Url.SpaceKey(), Area = "Common" })
                @Html.Action("_App_Panel", "UserSpace", new { spaceKey = Url.SpaceKey(), Area = "Common" })
                @Html.Action("_SelectMenu", "UserSpace", new { spaceKey = Url.SpaceKey(), Area = "Common" })
            </div>
        </div>
        <div id="tn-content" class="tn-content-bg">
            <div class="tn-wrapper">
                <div class="tn-grid-5-19">
                    <div class="tn-unit tn-first">
                        <div class="tnc-aside">
                            @Html.Action("_App_Panel", "UserSpace", new { spaceKey = Url.SpaceKey(), area = "Common" })
                            @RenderSection("Aside", false)
                        </div>
                    </div>
                    <div class="tn-unit">
                        <div class="tnc-main">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tn-footer" class="tn-footer-bg">
            <div class="tn-wrapper">
                @Html.Action("_Footer", "UserSpace", new { spaceKey = Url.SpaceKey(), Area = "Common" })
            </div>
        </div>
    </div>
</body>
</html>
