@model FindPasswordEditModel
@{
    Layout = null;
}
@using (Html.BeginForm("FindPassword", "Account", FormMethod.Post, new { @class = "tn-helper-flowfix" }))
{
    <div class="tnc-dailog-pd">
        <div class="tn-form tn-label-right">
            <div class="tn-form-row">
                @Html.FormLabelFor(n => n.AccountEmail)
                @Html.TextBoxFor(n => n.AccountEmail, InputWidthTypes.Long)<br />
                @Html.ValidationMessageFor(n => n.AccountEmail)
            </div>
            @Html.Captcha(VerifyScenarios.Post, true)
        </div>
    </div>
    <div class="tnc-artdilog-btn tn-border-gray tn-border-top tn-bg-gray">
        @Html.Button("获取密码", ButtonTypes.Submit, HighlightStyles.Primary)
    </div>
}
<script type="text/dialog">
    this.title("找回密码");
</script>
