<div class="tn-box tn-widget tn-widget-content tn-corner-all tnc-settings-list">
    <div class="tn-box-header tn-widget-header tn-corner-top tn-border-bottom">
        <h3 class="tn-helper-reset">
            便捷操作</h3>
    </div>
    <div class="tn-box-content tn-widget-content tn-corner-bottom">
        <ul class="tn-side-menu tnc-operation">
            <li class="tn-border-dashed tn-border-gray tn-border-bottom"><a href="@SiteUrls.Instance().ManageThreads()">
                <span class="tn-icon tn-smallicon-slide-next" title="帖子管理"></span>帖子管理</a></li>
            <li class="tn-border-dashed tn-border-gray tn-border-bottom"><a href="@SiteUrls.Instance().ManagePosts()">
                <span class="tn-icon tn-smallicon-slide-next" title="回帖管理"></span>回帖管理</a></li>
            <li class="tn-border-dashed tn-border-gray tn-border-bottom"><a href="@SiteUrls.Instance().ManageBars()">
                <span class="tn-icon tn-smallicon-slide-next" title="帖吧管理"></span>帖吧管理</a></li>
            <li class="tn-border-dashed tn-border-gray tn-border-bottom"><a href="@SiteUrls.Instance().ManageSiteCategories(TenantTypeIds.Instance().BarSection())">
                <span class="tn-icon tn-smallicon-slide-next" title="类别管理"></span>类别管理</a></li>
            <li class="tn-border-dashed tn-border-gray tn-border-bottom"><a href="@SiteUrls.Instance().SectionSettings()">
                <span class="tn-icon tn-smallicon-slide-next" title="帖吧设置"></span>帖吧设置</a></li>
        </ul>
    </div>
   
</div>
