@model PagingDataSet<Activity>
@{
    int? applicationId = ViewData.Get<int?>("applicationId", null);
    long lastActivityId = ViewData.Get<long>("lastActivityId", 0);
    MediaType? mediaType = ViewData.Get<MediaType?>("mediaType", null);
    bool? isOriginal = ViewData.Get<bool?>("isOriginal", null);
    long? userId = ViewData.Get<long?>("userId", null);
    string countUrl = SiteUrls.Instance().GetNewerGroupActivityCount(Url.SpaceKey(), applicationId);
    int pageIndex = ViewData.Get<int>("pageIndex", 1);
    int pageCount = Model.PageCount;
}
<script src="@Tunynet.Utilities.WebUtility.ResolveUrl("~/Applications/Microblog/Scripts/tunynet/jquery.spb.microblog.List.js")" type="text/javascript"></script>
@Html.Hidden("lastActivityId", lastActivityId)
<ul class="tn-list tnc-dynamic">
    @if (applicationId == null)
    { 
        <li class="tnc-dynamic-new" id="newerActivitiesLi" style="display: none;"><a href="@SiteUrls.Instance()._GetNewerGroupActivities(Url.SpaceKey(), applicationId)" class="tn-instant-note tn-corner-all" >
        </a></li>
    }
    @if (Model != null)
    {
        var applicationService = new ApplicationService();
        foreach (var item in Model)
        {
            string areaName = "Common";
            if (item.ApplicationId > 0)
            {
                var application = applicationService.Get(item.ApplicationId);
                if (application == null || !application.IsEnabled)
                {
                    continue;
                }
                areaName = application.ApplicationKey;
            } string tenantTypeIdPart = "";
            if (!string.IsNullOrEmpty(item.TenantTypeId))
            {
                tenantTypeIdPart = item.TenantTypeId;
            }
        @Html.AjaxRouteAction(string.Format("ActivityDetail_{0}_{1}", tenantTypeIdPart, item.ActivityItemKey), new { ActivityId = item.ActivityId, area = areaName, isOwnerActivity = true })
        }
    }
</ul>
<div class="tn-load-more tn-bg-gray tn-border-gray" id="showMoreDiv">
    <div id="active_loading" class="tn-loading" style="display: none">
    </div>
    <a href="javascript:;" class="tn-action tn-action-text-icon-right">@Html.Icon(IconTypes.SmallCollapseOpen)<span
        class="tn-action-text">更多信息</span> </a>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        //新动态
        if ("@applicationId" == "") {
            $(function () {
                function GetNewerActivities() {
                    $.ajax({
                        type: "POST",
                        url: "@countUrl",
                        data: { lastActivityId: $("#lastActivityId").val() },
                        success: function (data) {
                            if (data.Data.hasNew) {
                                $("#newerActivitiesLi").show();
                                $("#newerActivitiesLi a").text(data.Data.showName);
                            }
                        }
                    });
                }
                window.setInterval(GetNewerActivities, 60000);
            });

            $("#newerActivitiesLi").bind("click", function (e) {
                e.preventDefault();
                var url = $("a", this).attr("href");
                $this = $(this);
                $.ajax({
                    type: "POST",
                    url: url,
                    data: { lastActivityId: $("#lastActivityId").val() },
                    success: function (data) {
                        $this.hide();
                        $("#showTimeDiv").remove();
                        $this.after(data);
                    }
                });
            });
        }

        var pageIndex = parseInt("@pageIndex");
        if (pageIndex >= parseInt("@pageCount")) {
            $("#showMoreDiv").hide();
        }
        function addPageIndex() {
            pageIndex += 1;
        };
        //更多
        $("#showMoreDiv").click(function (e) {
            e.preventDefault();
            $this = $(this);
            $('#active_loading').show();
            $this.find('a').hide();
            addPageIndex();
            $.get('@Html.Raw(Url.Action("_ListActivities", new { spaceKey = Url.SpaceKey(), applicationId = applicationId, mediaType = mediaType, isOriginal = isOriginal, userId = userId }))',
             { pageIndex: pageIndex },
             function (data) {
                 $this.prev().append(data);
                 $('#active_loading').hide();
                 $this.children('a').show();
                 if (pageIndex >= parseInt("@pageCount")) {
                     $this.hide();
                 }
                 $this.remove();
             });
        });
    })

</script>
