@model ManagePostsEditModel
@{
    Layout = "app-manage-2cols";

    Html.IncludeCss("~/Applications/Bar/Styles/app.css", ResourceRenderPriority.Last);
    Html.IncludeScript("~/Applications/Bar/Scripts/jquery.spb.bar.js", ResourceRenderPriority.Last);


    Html.IncludeScript("~/Applications/Group/Scripts/jquery.spb.group.js", ResourceRenderPriority.Last);

    Html.ViewContext.RouteData.Values["CurrentNavigationId"] = 13101205;

    ViewData["TenantTypeId"] = TenantTypeIds.Instance().Group();
}
<div class="tn-box tn-widget tn-widget-content tn-corner-all spb-bar-manage">
    <div class="tn-box-content tn-widget-content tn-corner-all">
        <div class="tn-main-heading tn-border-gray tn-border-bottom">
            <h2>回帖管理</h2>
        </div>
        @{
            ViewData["ManageSubMenu"] = ManageSubMenu.ManagePost;
        }
        @Html.Partial("_ManageSubMenu")
        <div class="tn-manage-lists">
            <div class="tn-search-area tn-helper-clearfix tn-border-gray tn-border-bottom">
                @using (Html.BeginForm("ManagePosts", "GroupSpaceBar", FormMethod.Get))
                {
                    @Html.HiddenFor(n => n.SectionId)
                    <div class="tn-form tn-label-right tn-helper-clearfix">
                        <div class="tn-form-row">
                            @Html.FormLabelFor(n => n.PostKeyword)
                            @Html.TextBoxFor(n => n.PostKeyword, InputWidthTypes.Medium)
                        </div>
                        <div class="tn-form-row">
                            @Html.FormLabelFor(n => n.UserId)
                            @{
                    long userId = 0;
                    long.TryParse(string.IsNullOrEmpty(Model.UserId) ? "" : Model.UserId.Replace(",", ""), out userId);
                            }
                            @Html.UserSelector("UserId", userId)
                        </div>
                        <div class="tn-form-row tn-form-row-button">
                            <label class="tn-form-label">
                                &nbsp
                            </label>
                            @Html.Button("搜索", ButtonTypes.Submit, HighlightStyles.Primary)
                        </div>
                    </div>
                }
            </div>
            @Html.Partial("~/Applications/Bar/Views/Bar/_ManagePosts.cshtml", Model)
        </div>
    </div>
</div>
